.card-project {
  transition: all 0.3s ease;
}

.card-project:hover {
  background-color: #efefef;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
}

.button-project:hover {
   background-color: #2e82ff;
  }