.card-service {
  transition: transform 0.3s ease;
  border-radius: 6px;
}

.card-service:hover {
  transform: translateY(-5px);
  background-color: #efefef;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
